<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="$ 14.70"
    ></app-card>

    
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="$ 19.50"
    ></app-card>

    
    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="NEW"
        gameType="DISC | PS4 | PS5"
        gamePrice="$ 22.40"
    ></app-card>

    
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS3 | PS4 "
        gamePrice="$ 22.50"
    ></app-card>

    
    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS3 | PS4 | PS5"
        gamePrice="$ 26.50"
    ></app-card>

    
    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="BEST OF YEAR"
        gameType="DIGITAL | PS3 | PS4 | PS5"
        gamePrice="$ 32.50"
    ></app-card>
    
</div>